@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background-color: #152a57;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: white;
  text-align: left;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 0px;
}


/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  position:relative;
}
.navbar h1 {
  color: white;
}
.navbar .links {
  margin-left: auto;
  color: white;
  display: inline-block
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #bf5531;
}
.navbar-button {
  color: white;
  margin-left: 16px;
  display: inline-block;
  font-family: "Quicksand";
}
.navbar-button:hover {
  color: #bf5531;
}
/* target child of navbar-button (login button) */
.navbar-button > button {
  background: none;
  border: none;
  font-family: "Quicksand";
  font-size: 16px;
  cursor: pointer;
}
.navbar-button:hover > button {
  color:#bf5531
}


/* Home - content */
.home {
  margin-bottom: 25px;
  margin-top: 25px;
}
h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
  position: relative;
}
.description {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: left auto;
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}
.description:first-of-type {
  margin-bottom: 25px;
}
#home-box {
  width: 625px;
	height: 400px;
	margin: 10px;
	padding: 10px;
  background: #1a8388;
  align-items: center;
  border-radius: 25px;
  position: relative;
}


/* ParentPortal */
.parent-portal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
  padding: 0 25px;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.children-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}
.common-button {
    color: white;
    background: #1a8388;
    border-radius: 8px;
    font-size: medium;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    cursor: pointer; 
    border: none;
    margin-bottom: 25px;
    width: 150px;
}
.common-button:hover {
    background: #963553;  /* A slightly lighter shade for hover. Modify this as per your requirement */
}


/* add child form */
.add-child label {
  text-align: left;
  display: block;
  font-size: 20px;
}
.add-child h2 {
  font-size: 25px;
  color: white;
  margin-bottom: 30px;
}
.add-child input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  color: black;
  font-size: 20px;
}
.add-child button {
  background: #963553;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 18px;
}


/* add medication form */
.add-medication label {
  text-align: left;
  display: block;
  font-size: 20px;
}
.add-medication h2 {
  font-size: 25px;
  color: white;
  margin-bottom: 30px;
}
.add-medication input, .add-medication select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  color: black;
}
.add-medication button {
  background: #963553;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 18px;
}


/* child pages */
.medication-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.back-button {
  display: flex;
  color: white;
  background: #bf5531;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  margin-top: 75px;
}


/* footer */
.footer {
  margin-top: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-top: 1px solid #f2f2f2;
  position: relative;
}
.footer h4 {
  margin-right: auto;
  /* color: #b51963; */
  color: white;
}
.footer .contact {
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.footer a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
}
.footer a:hover {
  /* color: #b51963; */
  color: #bf5531;
}